@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,600;1,300&display=swap');

/*========== Variables CSS ==========*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*... Color mode HSL(hue, saturation, lightness) ...*/
    --first-color: ;
    --first-color-alt: ;
    --second-color: ;
    --title-color: hsl(220, 8%, 10%);
    --title-color-light: #8D8D8D;
    --text-color: ;
    --text-color-light: ;
    --white-color: hsl(0, 0%, 100%);
    --black-color:  hsl(0, 0%, 0%);
    --beige-color-light: hsl(30deg 14.29% 89.02%);
    --dark-color: #2F2F2B;
    --gray-color: ;
    /* --body-color: hsl(220, 8%, 99%); */
    --body-color: #DBD9D8;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3.5rem;
        --bigger-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*========== BASE ==========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}
input,
button{
    outline: none;
}
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*========== THEME ==========*/
/*========== Variables Dark theme ==========*/

/*========== 
    Color changes in some parts of 
    the website, in dark theme
==========*/

.dark-theme {
    --title-color: hsl(218, 100%, 98%);
    --text-color: hsl(218, 8%, 75%);
    --container-color: hsl(218, 28%, 16%);
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section {
    padding-block: 5rem 1rem;
}
.section__title {
    text-align: center;
    font-size: var(--bigger-font-size);
    margin-bottom: 1rem;
    color: var(--title-color);
}
.section__title span {
    font-weight: var(--font-regular);
}
.main {
    overflow: hidden;
}

/*========== HEADER & NAV ==========*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: var(--black-color); */
    border-bottom: solid 1px #bcbcbc;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo img{
    height: 3.5rem;
}
.nav__toggle,
.nav__close,
.nav__theme{
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--white-color);
    transition: color .4s;
}
.nav__buttons{
    color: var(--white-color);
    display: flex;
    align-items: center;
}
.nav__theme, .nav__buttons p{
    display: none;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: -120%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: top .4s;
        z-index: 1000;
    }
}

.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.nav__link{
    position: relative;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.nav__link::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .4s;
}
.nav__link:hover::after{
    width: 60%;
}
.nav__close{
    color: var(--title-color);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */

.show-menu{
    top: 0;
}

/* Edit Icon */

.ri-circle-fill{
    font-size: 5px;
}
.ri-menu-line{
    color: #d8d4d4c7;
}

/*========== HOME ==========*/

.home{
    position: relative;
    height: 100vh;
    color: var(--white-color);
}
.home__bg,
.home__blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home__bg{
    object-fit: cover;
    object-position: center;
    z-index: 0;
}
.home__blur{
    background: rgba(0, 0, 0, 0.60);
    /* backdrop-filter: blur(4px); */
}
.home__container {
    position: relative;
    padding-block: 3rem;
    height: 100%;
    z-index: 2;
}
.home__data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home__description{
    width: 71%;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}
.home__title {
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
}
.home__title .line-1 {
    display: block;
    font-size: 48px;
    color: var(--beige-color-light);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -2px;
}
.home__title .line-2 {
    display: block;
    font-size: 48px;
    margin-left: 3rem;
    color: var(--beige-color-light);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -2px;
}
.home__title .line-3 {
    display: block;
    font-size: 48px;
    font-style: italic;
    color: var(--beige-color-light);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -2px;
}
.home__data-h1 {
    display: inline-grid;
    gap: 2rem;
}

/*========== HOME ==========*/

.button__opa-30{
    display: flex;
    justify-content: center;
    gap: 0;
    align-items: center;
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #fff;
    color: var(--white-color);
    padding: 1rem 2rem;
    transition: background-color .4s;
}
.button:hover{
    background-color: #7a7267;
    transform: background-color .4s;
}
.nav__circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #fff;
    color: var(--white-color);
    padding: 18px;
    font-size: 10px !important;
}
.circle-lines {
    position: absolute;
    bottom: -407px;
    left: -330px;
    width: 900px;
    height: 900px;

    fill: none;
    stroke: rgba(255, 255, 255, 0.18); /* MÁS visible */
    stroke-width: 1;

    z-index: 1; /* debajo del texto */
    pointer-events: none;
}

/* Service */

.services {
    padding: 4rem 0;
    background: var(--body-color);
}
.services-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}
.services-title p{
    font-size: 20px;
}
.services-title p > span{
    color: #8d8d8d7d;
}
.services__title {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: var(--title-color-light);
    gap: .6rem;
}
.carousel {
    position: relative;
    padding: 0 0 0 12rem;
    margin-top: -3rem;
}
.carousel__track-container {
    overflow: hidden;
}
.carousel__track {
    display: flex;
    gap: 1.5rem;
    transition: transform 0.4s ease;
}
.carousel__slide {
    min-width: 280px;
    position: relative;
}
/* Overlay oscuro */
.carousel__slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /* ajusta la oscuridad */
    border-radius: 6px;
    z-index: 1;
}
.carousel__slide img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 6px;
}
.carousel__slide span {
    position: absolute;
    bottom: 18px;
    left: 15px;
    color: var(--white-color);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--font-semi-bold);
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 2;
}

/* Botones */
.carousel-btn {
    display: flex;
    justify-content: center;
    gap: 6.5rem;
    margin-top: 2rem;
}
.carousel__btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--dark-color);
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.carousel__btn:hover {
    transform: scale(1.1);
    opacity: 0.7;
}
.rotate img{
    transform: rotate(180deg);
}

/* Mobile */
@media (max-width: 768px) {

    .home {
        height: 85svh;
        max-height: 720px;
    }
    /* servicios */
    .carousel__slide {
        min-width: 280px;
    }
    .services-title{
        display: flex;
        flex-direction: column;
    }
    .services-title p{
        font-size: 16px;
    }
    .services__title{
        margin-bottom: 1.5rem;
    }
    .carousel{
        padding: 0 0 0 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 2rem;
    }
    .nav__theme, .nav__buttons p{
        display: block;
    }
    .section__title{
        margin-bottom: 4rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .ri-circle-fill{
        font-size: 8px;
    }
    .nav__menu{
        margin: auto;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .nav__link{
        color: var(--white-color);
    }
    .nav__link::after{
        background-color: var(--white-color);
    }
    .nav__logo img{
        height: 4rem;
    }
    .nav__link{
        font-weight: var(--font-regular);
    }
    .bg-header .nav__link{
        color: var(--title-color);
    }
    .bg-header .nav__link::after{
        background-color: var(--title-color);
    }
    .home__title .line-1{
        display: flex;
        justify-content: space-between;
    }
    .home__title .line-3{
        display: flex;
        gap: 15rem;
    }
    .home__title .line-1, .home__title .line-2,
    .home__title .line-3{
        font-size: 100px;
        font-weight: var(--font-regular);
    }
    .button__opa-30{
        justify-content: right;
    }
    .button__opa-30 {
        position: relative;
        bottom: 6rem;
        right: -5rem;
        justify-content: right;
    }
    .home__container {
        padding: 3rem 0 0;
    }

    /* MAIN */
    .home__description{
        width: 30%;
        letter-spacing: 1px;
        font-size: 16px;
    }
    .ri-circle-fill{
        font-size: 6px;
    }
    .circle-title{
        font-size: 8px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {

    /* Servicios */
    .services {
        padding: 3rem 0;
    }
    .services__title {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    .carousel {
        gap: 1.5rem;
    }
    .carousel__slide {
        min-width: 50%; /* entran 2 cards */
    }
    .carousel__slide img {
        height: 300px;
    }
    .carousel__slide span {
        font-size: 0.85rem;
        bottom: 12px;
        left: 12px;
    }
    .carousel-btn {
        gap: 1rem;
    }
    .carousel__btn {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* estilos tablet */
    .home {
        height: 85svh;
        max-height: 720px;
    }
    .home__description {
        width: 40%;
        letter-spacing: 1px;
        font-size: 16px;
    }
    .home__title .line-1{
        display: flex;
    }
    .home__title .line-1, 
    .home__title .line-2, 
    .home__title .line-3{
        font-size: 70px;
    }
    .button__opa-30 {
        position: relative;
        bottom: 5.5rem;
        right: 0rem;
        justify-content: right;
    }

    /* service */
    .carousel {
        position: relative;
        padding: 0 1.5rem;
    }
    .carousel__slide {
        min-width: 50%;
    }
}